<a href="https://colab.research.google.com/github/asher7u7/googlecolab1/blob/main/ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRUCCIÓN REPETITIVA FOR

In [ ]:
# Ejercicio 1: mostrar los números del 1 al 10, sin usar instruciones repetitivas 

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# ejercicio 2: mostrar los números del 1 al 10, usando la instrucción while

contador = 1 
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1 
  print(contador)

In [ ]:
# ejercicio 3: mostrar los numeros del 1 a 10, usando la instrucción for y una lista como iterable 

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
 for y la función range 

for i in range(1,11):# ejercicio 4: mostar los numeros del 1 al 10, usando la intrucción
   print(i)

In [ ]:
# ejercicio 5: mostar una frase 10 veces, usando la intrucción for  y una lista

lista = [1,2,3,4,5,6,7,8,8,10]
for i in lista:
  print(f"{i} sistemas el mejor!!!")

In [ ]:
# ejercicio 6: mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los dias de la semana

dias_semana = ["lu", "ma", "mi", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

In [ ]:
# ejercicio 7: mostrar una lista de distintos tipos de datos, usando for

lista = (1,3,4, 9, True, "Nestor", 8, "Guanenta")
for i in lista:
  print(i)

In [ ]:
# ejercicio 8: ingresar su nombre y mostrarlo letra a letra,usando for 

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# ejercicio 9: ingresar su nombre y mostrarlo letra a letra, usando for, cambiando por asterisco * a la vocal e 

nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == "e":
    print("*")
  else:
    print(letra)

In [ ]:
# ejercicio 10: ingresar el nombre y mostarlo letra en letra, en mayúscula, usando for
nombre = input("Digite su nombre")
for letra in nombre:
  print(letra.upper())

In [ ]:
# ejercicio 11: imprimir lista de numeros usando for y range 

print("numeros del 0 al 9")
for i in range (10):
  print(i)

print("Números del 1 al 10")
for i in range(1,11):
    print(i)

print("10 veces la frase")
for i in range(10):
  print("SIstemas el mejor ")

print("10 veces la frase i = ")
for i in range (10):
  print("i =" + str(i))

print("10 veces la frase i = ")
for i in range(10):
  print(f" i = {i}")

print("Rango del 7al 18, incrementando de 4 en 4")
for i in range (7,19,4):
    print(i)

print("Convierte rango en lista a, y la muestra")
a = list(range(1000))
print(a)